<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Volunteer, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Volunteer | devJ</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/plyr.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-7">
                    <div class="header__right">
                        <a href="/"><span class="icon_pencil-edit"></span></a>
                        <button type="button" class="btn btn-dark" id="wallet" onclick="connectMetamask()">Connect Wallet</button>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Listing Creation Start -->
    <section>
        <div class="product-page spad">
            <div class="container"></div>
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-title">
                        <h4>Create Listing</h4>
                    </div>
                    <form class="create-listing" action="/upload" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                          <div class="form-group col-lg-12">
                            <label for="name"><p>Name</p></label>
                            <input type="text" class="form-control" id="name" name="name">
                          </div>
                          <div class="form-group col-lg-12">
                            <label for="info"><p>Description</p></label>
                            <textarea type="text" class="form-control" id="info" name="info"></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="place"><p>Address</p></label>
                          <input type="text" class="form-control" id="place" name="place" placeholder="1234 Main St">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-lg-6">
                            <label for="start"><p>Start Date</p></label>
                            <input type="date" class="form-control" id="start" name="start">
                          </div>
                          <div class="form-group col-lg-6">
                            <label for="end"><p>End Date</p></label>
                            <input type="date" class="form-control" id="end" name="end">
                          </div>
                        </div>
                        <div class="form-group col-lg-6">
                        <br>
                        <button class="btn btn-secondary" id="poap" type="button" onclick="deployPOAP()" disabled>Deploy POAP</button>
                        <br>
                        <div id="txStatus" style="color: white;"></div>
                        <br>
                        </div>
                        <p>Upload Image</p>
                        <div class="custom-file col-lg-6">
                            <input type="file" class="custom-file-input" id="poster" name="poster" onchange="updateFileName(this)">
                            <label class="custom-file-label" for="poster" id="customLabel">Choose image</label>
                        </div>
                        <button class="offset-lg-2 btn btn-primary" id="submitForm" type="submit" disabled>Submit form</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Listing Creation End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/player.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/factory_ABI.js"></script>
    <!-- Include Web3.js library -->
    <script src="https://cdn.jsdelivr.net/npm/web3@1.6.0/dist/web3.min.js"></script>
    <script>
        let account;
        const connectMetamask = async () => {
        if (typeof window.ethereum !== "undefined") {
            const accounts = await ethereum.request({ method: "eth_requestAccounts" });
            account = accounts[0];
            document.getElementById("wallet").innerHTML =
            "Connected";
            document.getElementById("poap").disabled = false;
        } else {
            console.log("Please install MetaMask.");
        }
        };
        // Modify to your contract address
        const factoryAddress = "0x4B6772a737eCC47326911b7073d7D079A94D80F8";
        async function deployPOAP() {
            const titleOfPOAP = document.getElementById("name").value;
            try {
                const response = await fetch('/generateImage', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ eventTitle: titleOfPOAP })
                });

                const data = await response.json();
                const ipfsLink = data.ipfsLink;

                const approvalInstance = new Web3(window.ethereum);
                const factoryContract = new approvalInstance.eth.Contract(factory_ABI, factoryAddress);
                
                const tx = factoryContract.methods.deployPOAP(account, "POAP NAME", "PN", ipfsLink).send({ from: account });

                tx.on("transactionHash", (hash) => {
                    document.getElementById("txStatus").innerText = "Transaction Hash: " + hash;
                });

                const receipt = await tx;

                document.getElementById("txStatus").innerText += "\nSuccessfully deployed POAP!";
                document.getElementById("submitForm").disabled = false;

            } catch (error) {
                document.getElementById("txStatus").innerText = "An error occurred, please try again!";
                console.error("Error deploying POAP:", error);
            }
        }


    </script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
